In [53]:
import pandas as pd
from urllib.request import urlopen
from bs4 import BeautifulSoup
url = 'http://www.nfl.com/scores/2017/REG'
df = pd.DataFrame(columns=['team-name','team-score','first-qt','second-qt','third-qt','fourth-qt','ot'])
row = 0

for s in range(1,11):
    page = urlopen(url+str(s))
    soup = BeautifulSoup(page, 'html.parser')
    scores = soup.find_all('p',attrs={'class':'total-score'})
    teams = soup.find_all('p',attrs={'class':'team-name'})
    record = soup.find_all('p',attrs={'class':'team-record'})
    quarters = soup.find_all('p',attrs={'class':'quarters-score'})
    per_quarter = []

    for quarter in quarters:
        qt = []
        for x in quarter.children:
            qt.append(x.text)
        per_quarter.append(qt)
        
    for i in range(0,len(scores)):
        df.loc[row] = [teams[i].text, scores[i].text, per_quarter[i][0],per_quarter[i][1],per_quarter[i][2],per_quarter[i][3],per_quarter[i][4]]
        row+=1
        
df.to_csv('scores_1_to_11.csv', encoding='utf-8')

In [103]:
df.head()

   team-name team-score first-qt second-qt third-qt fourth-qt ot
0     Chiefs         42        7         7        7        21
1   Patriots         27        7        10       10         0
2   Steelers         21        7         7        7         0
3     Browns         18        7         0        3         8
4  Cardinals         23       10         0        7         6

In [84]:
'''
Get list of teams: 
Go through this for all teams:
http://www.nfl.com/teams/profile?team=KC
'''
url = "http://www.nfl.com/teams/profile?team=KC"
page = urlopen(url)
soup = BeautifulSoup(page, 'html.parser')
div_w_teams = soup.find_all('select', attrs={'class':'team-roster'})
for value in div_w_teams:
    print(value)

<select class="team-roster" id="team-roster" name="teamroster">
<option>Select a Team...</option>
<option value="ARI">Arizona Cardinals</option>
<option value="ATL">Atlanta Falcons</option>
<option value="BAL">Baltimore Ravens</option>
<option value="BUF">Buffalo Bills</option>
<option value="CAR">Carolina Panthers</option>
<option value="CHI">Chicago Bears</option>
<option value="CIN">Cincinnati Bengals</option>
<option value="CLE">Cleveland Browns</option>
<option value="DAL">Dallas Cowboys</option>
<option value="DEN">Denver Broncos</option>
<option value="DET">Detroit Lions</option>
<option value="GB">Green Bay Packers</option>
<option value="HOU">Houston Texans</option>
<option value="IND">Indianapolis Colts</option>
<option value="JAX">Jacksonville Jaguars</option>
<option value="KC">Kansas City Chiefs</option>
<option value="LAC">Los Angeles Chargers</option>
<option value="LA">Los Angeles Rams</option>
<option value="MIA">Miami Dolphins</option>
<option value="MIN">Minnesota Vikings</option>
<option value="NE">New England Patriots</option>
<option value="NO">New Orleans Saints</option>
<option value="NYG">New York Giants</option>
<option value="NYJ">New York Jets</option>
<option value="OAK">Oakland Raiders</option>
<option value="PHI">Philadelphia Eagles</option>
<option value="PIT">Pittsburgh Steelers</option>
<option value="SF">San Francisco 49ers</option>
<option value="SEA">Seattle Seahawks</option>
<option value="TB">Tampa Bay Buccaneers</option>
<option value="TEN">Tennessee Titans</option>
<option value="WAS">Washington Redskins</option>
</select>

In [99]:
teams = ["ARI","ATL","BAL","BUF","CAR","CHI","CIN","CLE","DAL","DEN","DET","GB","HOU","IND","JAX","KC","LAC","LA","MIA","MIN","NE","NO","NYG","NYJ","OAK","PHI","PIT","SF","SEA","TB","TEN","WAS"]
url = "http://www.nfl.com/teams/profile?team="
df2 = pd.DataFrame(columns=['team-name','points','yards','pass-yards','rush-yards'])
row = 0
#For Offense
for team in teams:
    test = []
    page = urlopen(url+team)
    soup = BeautifulSoup(page, 'html.parser')
    score = soup.find_all('div', attrs={'class':'team-quick-stat-body'})
    test.append(team)
    test.append(score[0].text.split("(")[0])
    test.append(score[1].text.split("(")[0])
    test.append(score[2].text.split("(")[0])
    test.append(score[3].text.split("(")[0])
    df2.loc[row] = test
    row+=1

df2

   team-name points  yards pass-yards rush-yards
0        ARI   17.6  328.2      258.9       69.3
1        ATL   23.1  359.1      245.4      113.7
2        BAL   21.3  279.8      165.2      114.6
3        BUF   20.8  302.1      184.4      117.7
4        CAR   21.3  336.6      209.0      127.6
5        CHI   17.4  302.2      170.4      131.8
6        CIN   16.9  265.6      197.6       68.0
7        CLE   15.0  300.7      199.5      101.2
8        DAL   22.5  333.5      198.7      134.8
9        DEN   18.3  329.8      216.9      112.9
10       DET   26.7  333.9      255.6       78.3
11        GB   20.4  308.8      206.4      102.4
12       HOU   26.7  350.0      221.5      128.5
13       IND   17.9  300.8      204.9       95.9
14       JAX   24.5  362.1      201.5      160.6
15        KC   26.2  370.9      252.5      118.4
16       LAC   22.6  357.1      263.9       93.2
17        LA   30.3  375.4      255.0      120.4
18       MIA   15.7  292.3      211.9       80.4
19       MIN   24.6  375.7      251.3      124.5
20        NE   29.0  410.6      304.6      106.0
21        NO   30.2  415.7      271.7      144.0
22       NYG   16.2  308.5      216.5       92.0
23       NYJ   20.1  306.9      205.3      101.6
24       OAK   20.4  326.5      236.8       89.7
25       PHI   32.0  377.6      233.0      144.6
26       PIT   22.7  357.5      255.1      102.4
27        SF   17.4  325.9      224.4      101.5
28       SEA   24.2  367.6      263.4      104.2
29        TB   20.3  342.8      263.0       79.8
30       TEN   22.2  327.4      209.9      117.5
31       WAS   23.8  359.4      256.8      102.6

In [101]:
df2.to_csv('teams_offensive.csv', encoding='utf-8')

In [116]:
df3 = pd.DataFrame(columns=['team-name','points','yards','pass-yards','rush-yards'])
row = 0
#For Defense
for team in teams:
    test = []
    page = urlopen(url+team)
    soup = BeautifulSoup(page, 'html.parser')
    score = soup.find_all('div', attrs={'class':'team-quick-stat-body'})
    test.append(team)
    test.append(float(score[4].text.split("(")[0]))
    test.append(float(score[5].text.split("(")[0]))
    test.append(float(score[6].text.split("(")[0]))
    test.append(float(score[7].text.split("(")[0]))
    df3.loc[row] = test
    row+=1

df3

   team-name  points  yards  pass-yards  rush-yards
0        ARI    25.4  344.2       242.9       101.3
1        ATL    21.0  316.7       200.8       115.9
2        BAL    17.1  306.0       185.2       120.8
3        BUF    25.0  366.8       246.9       119.9
4        CAR    18.0  278.0       197.4        80.6
5        CHI    22.1  319.0       213.0       106.0
6        CIN    19.9  323.0       200.6       122.4
7        CLE    25.9  313.7       222.0        91.7
8        DAL    24.5  348.3       235.7       112.5
9        DEN    25.9  283.2       197.7        85.5
10       DET    24.0  359.4       243.2       116.2
11        GB    23.0  340.1       234.4       105.7
12       HOU    26.2  344.8       252.8        92.0
13       IND    28.0  385.8       274.5       111.3
14       JAX    14.1  275.6       162.0       113.6
15        KC    22.0  383.0       253.8       129.2
16       LAC    18.4  339.5       206.0       133.5
17        LA    18.6  335.0       211.7       123.3
18       MIA    25.4  339.2       229.3       109.9
19       MIN    17.7  290.4       214.9        75.5
20        NE    20.3  401.9       282.0       119.9
21        NO    19.6  326.7       211.3       115.4
22       NYG    24.3  389.9       258.2       131.7
23       NYJ    22.2  346.9       229.0       117.9
24       OAK    24.7  367.1       253.3       113.8
25       PHI    18.8  306.8       235.8        71.0
26       PIT    16.5  287.6       190.0        97.6
27        SF    26.0  379.8       246.3       133.5
28       SEA    19.9  314.9       215.1        99.8
29        TB    22.8  383.5       276.3       107.2
30       TEN    25.3  330.4       241.2        89.2
31       WAS    25.1  346.0       234.2       111.8

In [120]:
df3.to_csv('teams_defensive.csv', encoding='utf-8')

In [123]:
df.head()

   team-name team-score first-qt second-qt third-qt fourth-qt ot
0     Chiefs         42        7         7        7        21
1   Patriots         27        7        10       10         0
2   Steelers         21        7         7        7         0
3     Browns         18        7         0        3         8
4  Cardinals         23       10         0        7         6